@-webkit-keyframes scale-up-navlink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1, 1.25);
        transform: scale(1.1, 1.25);
    }
}
@keyframes scale-up-navlink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1, 1.25);
        transform: scale(1.1, 1.25);
    }
}
